$offwhihte:#dddddd;
$white:rgba(255, 255, 255, 0.933);
$center:center;
$blue:rgb(89, 130, 153);
$lightblue:linear-gradient(to top left, #5d90bd 16%, #4b7397 83%);

.big_img{
    background-image: url(img/stand.jpg);

    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

}

.container_nav{
    position: absolute;
}


.logo{
    font-family: 'Oswald', sans-serif;
    margin:17px;
    float:left;
    background:none;
    color: $offwhihte;
    text-align: $center;
    font-size: 30px;
}

nav {
   
    height: 80px;
    background-color: none;
}
.nav_link{
    background:none;
    display:flex;
    list-style:none;
    width:45%;
    height:100%;
    justify-content:space-around;
    align-items:center;
    margin-left:auto;
}

    .nav_link li a {
        color: $offwhihte;
        text-decoration: none;
        font-size: 23px;
        font-family: 'Roboto Condensed', sans-serif;
        transition: .3s;
        &:hover{
          
            color: darken($offwhihte, 20%);
            transition: .3s;
     

        };
        
    }

  @media screen and (max-width: 768px) {

      .line{
          width:30px;
          height:3px;
          background:#eeeeee;
          margin:5px;
      }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform:translate(-5%, -50%);
        z-index:2;
    }

      nav{
          position:relative;
      }
  

        .nav_link {
            position: fixed;
            background: $lightblue ;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(30px at 110% 110%);
            webkit-clip-path: circle(70px at 70% -10%);
            transition: all 1s ease-out;
            pointer-events: none;
        }
    .nav_link li a{
        font-size:30px;
    }

        .nav_link.open {
            clip-path: circle(1200px at 90% -10%);
            webkit-clip-path: circle(1200px at 70% -10%);
            pointer-events: all;
        }
        
        .nav_link li{
            opacity:0;
        }

        .nav_link li:nth-child(1){
            transition: 0.7s ease 0.2s;
        }
            .nav_link li:nth-child(2) {
                transition: 0.7s ease 0.4s;
            }
            .nav_link li:nth-child(3) {
                transition: 0.7s ease 0.6s;
            }
            .nav_link li:nth-child(4) {
                transition: 0.7s ease 0.8s;
            }
            li.fade{
                opacity:1;
            }
  }